<nav id="mobile-nav" class="mobile-nav" aria-label="Mobile navigation" aria-hidden="true">
  <ul class="mobile-nav__list">
    <li><a href="/searchdirectory/">DIRECTORY</a></li>
    <li><a href="/libraryaccess/">ACCESS PARTNERS</a></li>
    <li><a href="/databaseworkflows/">DATABASE WORKFLOWS</a></li>
    <li><a href="/news/">NEWS</a></li>
    <li><a href="/about/">ABOUT</a></li>
    <li><a href="https://www.acls.org/programs/luce-acls-program-in-china-studies/" target="_blank" rel="noopener noreferrer">LUCE/ACLS PROGRAM IN CHINA STUDIES</a></li>
  </ul>
</nav>
