---
layout: single
classes: wide
---
{% raw %}
{% assign teaser_image = site.data.category_images[page.category] %}
{% if teaser_image %}
  <img src="{{ teaser_image | relative_url }}" alt="{{ page.title }}" style="width: 200px; height: 300px;">
{% endif %}
{% endraw %}
<br>
{% if page.alternatetitle %}
<h6>ALTERNATE TITLE</h6>
{{ page.alternatetitle }}
{% endif %}
<br>
<br>
<h6>CATEGORY</h6>
{{ page.category }}
<br>
<br>
<h6>INSTITUTION</h6>
{{ page.institution }}
<br>
<br>
<h6>URL</h6>
<a target="_blank" label="external link to {{ page.title }}" href="{{ page.external_url }}">{{ page.external_url }}</a>
<br>
<br>
<h6>DESCRIPTION</h6>
{{ page.description }}
