---
layout: single
classes: wide
search support: true
---
<br>
{% if page.alternatetitle %}
<h6>ALTERNATE TITLE</h6>
{{ page.alternatetitle }}
{% endif %}
<br>
<br>
<h6>CATEGORY</h6>
<a href="/directorycategory/#{{ page.category | slugify }}">{{ page.category }}</a>
<br>
<br>
<h6>INSTITUTION</h6>
{{ page.institution }}
<br>
<br>
<h6>URL</h6>
<a target="_blank" label="external link to {{ page.title }}" href="{{ page.external_url }}">{{ page.external_url }}</a>
<br>
<br>
<h6>DESCRIPTION</h6>
{{ page.description }}