---
title: "DIRECTORY"
layout: single
search: false
classes: wide
excerpt: "Open databases and primary source repositories for China studies"
header:
    overlay_color: "#2B3AA8"
    actions:
    -   label: "Search Directory"
        url: "/searchdirectory/"
    -   label: "Download as .csv"
        url: "/assets/files/mapping-project.csv"
---
<div style="text-align: center;">
    VIEW BY: <a href="/directorycategory/">CATEGORY</a> | <a href="/directorygrid/">GRID</a> | LIST
</div>
<br>
<br>

{% assign categories = site.resources | map: "category" | uniq | sort %}

{% for category in categories %}
  <h2 style="text-transform: uppercase;">{{ category }}</h2>
  <ul>
    {% assign category_resources = site.resources | where: "category", category | sort: "title" %}
    {% for resource in category_resources %}
      <li>
        <a href="{{ resource.url }}">{{ resource.title }}</a>
        <p style="margin-left: 2em; margin-top: 0.5em; font-size: 0.9em;">{{ resource.description }}</p>
      </li>
    {% endfor %}
  </ul>
  <br>
{% endfor %}